.main-content {
display: grid;
grid-template-rows: 250px 1px 1fr 1fr;
grid-gap: 100px;

.options {
    text-decoration: underline;
    font-size: 30px;
    justify-self: center;
    font-weight: 200;
}
}